.signUpWrapper{
    margin-top: 1.2rem;
    display:flex;
    flex-direction:column;
    align-self:center;
    align-items:center;
    border-radius:1rem;
    padding:3rem 6rem;
    background-color:#ffffff;
    text-align: center;
    box-shadow:0 0 1rem 1rem #dbe4f4;
    max-width:32rem;
}
.titleText{
    font-size:2rem;
    font-weight:800;
    margin:1.2rem 0;
    /* padding:0 5rem; */
    color:#1B1C40;
}
.secondaryText{
    font-weight: bold;
    color:#1B1C40;
    margin-bottom: 1rem;
}

form{
    
    margin-bottom: 3rem;
    width:fit-content;
}

.nameContainer{
    display:flex;
    justify-content:space-between;
    /* flex-wrap: wrap; */
}

.buttonSpace{
    display:flex;
    align-items: center;
    justify-content:center;
    margin-top: 0.7rem;
    flex-direction: column;
    gap:0.75rem;
}
.policyText{
    /* width:80%; */
    font-size: 0.85rem;
}

.externalSignin{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:0.7rem;
    /* margin-bottom:1rem; */
}

.splitter{
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0.5rem 0;
    color:rgb(95, 95, 95);
}

.loginLink{
    color:dodgerblue;
}