.totalContainer{
    
    height:100%;
    display: flex;
}
   

/* .totalContainer:hover{
   border-bottom:4px dodgerblue solid;
    color:rgb(53, 53, 53)
   
} */
.pfp{
    display:none;
    height:3.4rem;
    margin:auto 0;
    border-radius:50%;
    border:0.2px solid rgb(167, 167, 167);
}
.fullName{
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing:-0.1rem;
}