
.link:hover{
    border-bottom:4px dodgerblue solid;
    color:rgb(53, 53, 53)
}
.link{
    color:rgb(90, 90, 90);
    font-weight: 500;
    font-size:1.2rem;
    line-height:1.5rem;
    border-bottom:0 solid;
    transition:all 0.1s ease-in-out;
    padding:0 1rem;
    cursor:pointer;
}
.text{
    display:inline-block;
    margin:2rem 0;
}
