.btn{
    border-radius:.4rem;
    border:none;
    font-weight:bold;
    transition: all 0.2s ease-in-out;
    padding:1rem 2rem;
    width:100%;
    cursor: pointer;
}
.btn:hover{
    background-color:#396199 !important;
    color:white;
}